<div class="page-header container" id="banner">
    <div class="row">
        <h1>Learning Corner</h1>
        <p class="lead">Listed here are common questions about what we’re learning about in phonics. As always, feel free to ask me any questions!</p>
    </div>
</div>

<div class="container">
    <div id="accordion" role="tablist" aria-multiselectable="true" class="row">
        {{#each entries}}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading{{@index}}">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{@index}}" aria-expanded="false" aria-controls="collapse{{@index}}">
                            {{title}}
                        </a>
                    </h4>       
                </div>
                
                <div id="collapse{{@index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{@index}}">
                    <div class="panel-body">
                        {{{body}}}
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>
